<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>StudentManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>student_register.jsp</welcome-file>
     <welcome-file>login.jsp</welcome-file>
     <welcome-file>student_dashboard.jsp</welcome-file>
     <welcome-file>admin_dashboard.jsp</welcome-file>
     <welcome-file>adminLogin.jsp</welcome-file>
     <welcome-file>studentLogin.jsp</welcome-file>
     <welcome-file>admin_student_list.jsp</welcome-file>
     <welcome-file>add_student.jsp</welcome-file>
     <welcome-file>changePassword.jsp</welcome-file>
      <welcome-file>editProfile.jsp</welcome-file>
      <welcome-file>student_dashboard.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
  	<servlet-name>StudentRegisterServlet</servlet-name>
  	<servlet-class>com.sms.servlet.StudentRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentRegisterServlet</servlet-name>
  	<url-pattern>/StudentRegisterServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<servlet-class>com.sms.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<servlet-class>com.sms.servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdateStudentServlet</servlet-name>
  	<servlet-class>com.sms.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateStudentServlet</servlet-name>
  	<url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentListServlet</servlet-name>
  	<servlet-class>com.sms.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentListServlet</servlet-name>
  	<url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SearchStudentServlet</servlet-name>
  	<servlet-class>com.sms.servlet.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchStudentServlet</servlet-name>
  	<url-pattern>/SearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<servlet-class>com.sms.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<servlet-class>com.sms.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentDashboardServlet</servlet-name>
  	<servlet-class>com.sms.servlet.StudentDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentDashboardServlet</servlet-name>
  	<url-pattern>/StudentDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdateStudentProfileServlet</servlet-name>
  	<servlet-class>com.sms.servlet.UpdateStudentProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateStudentProfileServlet</servlet-name>
  	<url-pattern>/UpdateStudentProfileServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.sms.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<servlet-class>com.sms.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<servlet-class>com.sms.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PeersServlet</servlet-name>
  	<servlet-class>com.sms.servlet.PeersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PeersServlet</servlet-name>
  	<url-pattern>/PeersServlet</url-pattern>
  </servlet-mapping>
</web-app>